{% if detail_scan %}
	<a class="dropdown-item" href="javascript:download_subdomains(scan_id={{ scan_history_id }}, domain_id=null, domain_name='{{ scan_display_name|escapejs }}')">Download All Subdomains</a>
	<a class="dropdown-item" href="javascript:download_interesting_subdomains(project='{{ current_project.slug }}', scan_id={{ scan_history_id }}, domain_id=null, domain_name='{{ scan_display_name|escapejs }}');">Download Interesting Subdomains</a>
	<a class="dropdown-item" href="javascript:download_important_subdomains(scan_id={{ scan_history_id }}, domain_id=null, domain_name='{{ scan_display_name|escapejs }}');">Download Important Subdomains</a>
{% endif %}
{% if target_summary %}
	<a class="dropdown-item" href="javascript:download_subdomains(scan_id=null, domain_id={{ target.id }}, domain_name='{{ target.value|escapejs }}')">Download All Subdomains</a>
	<a class="dropdown-item" href="javascript:download_interesting_subdomains(project='{{ current_project.slug }}', scan_id=null, domain_id={{ target.id }}, domain_name='{{ target.value|escapejs }}');">Download Interesting Subdomains</a>
	<a class="dropdown-item" href="javascript:download_important_subdomains(scan_id=null, domain_id={{ target.id }}, domain_name='{{ target.value|escapejs }}');">Download Important Subdomains</a>
{% endif %}
{% if all_subdomains %}
	<a class="dropdown-item" href="javascript:download_subdomains()">Download All Subdomains</a>
	<a class="dropdown-item" href="javascript:download_interesting_subdomains()">Download Interesting Subdomains</a>
	<a class="dropdown-item" href="javascript:download_important_subdomains()">Download Important Subdomains</a>
{% endif %}
