<div class="modal fade" id="modal-dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-dialog-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-text" id="modal-dialog-body"></div>
      </div>
      <div class="modal-footer" id="modal-dialog-footer">
      </div>
    </div>
  </div>
</div>
