<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div class="btn-group mb-2 float-end dropstart">
							<a class="btn btn-soft-primary ms-2 me-2" data-toggle="tooltip" data-placement="top" title="Reload Secrets" id="reload_secrets_table_btn">
								<i class="fe-refresh-cw"></i>
							</a>
						</div>
					</div>
					<div class="col-12">
						<table id="secret_results" class="table dt-responsive w-100">
							<thead>
								<tr>
									<th>ID</th>
									<th>Rule name</th>
									<th>Location</th>
									<th>Source</th>
									<th>Value</th>
									<th>Discovered</th>
									<th class="text-center dt-no-sorting">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
