{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
All Endpoints
{% endblock title %}

{% block custom_js_css_link %}
<link href="{% static 'plugins/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="row justify-content-center">
  {% include 'base/_items/endpoint_tab_content.html' with all_endpoints=True%}
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'startScan/js/detail_scan.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard.min.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
{% include 'shared/_advanced_search_scripts.html' %}
<script type="text/javascript">
$(document).ready(function() {
  const ps = new PerfectScrollbar(document.querySelector('.endpoint-search'));
  get_endpoints("{% url "api:endpoints-list" %}", "{% url "api:subdomains-list" %}", "{{current_project.slug}}", null, null, null);
});
</script>
{% endblock page_level_script %}
