{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Recon to-do
{% endblock title %}

{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/todo/todolist.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
<link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="mail-box-container">
      <div class="mail-overlay"></div>
      <div class="tab-title">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 text-center">
            <h5 class="app-title">Recon to-do</h5>
            <a class="btn" id="addTask" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> New to-do</a>
          </div>
          <div class="todoList-sidebar-scroll">
            <div class="col-md-12 col-sm-12 col-12 mt-4 pl-0">
              <ul class="nav nav-pills d-block" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link list-actions active" id="all-list" data-toggle="pill" href="#pills-inbox" role="tab" aria-selected="true">
                    <i class="fa fa-list"></i> To-do 
                    <span class="todo-badge badge"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list-actions" id="todo-task-done" data-toggle="pill" href="#pills-sentmail" role="tab" aria-selected="false">
                    <i class="fa fa-check-circle"></i> Done 
                    <span class="todo-badge badge"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list-actions" id="todo-task-important" data-toggle="pill" href="#pills-important" role="tab" aria-selected="false">
                    <i class="fa fa-exclamation-circle"></i> Important 
                    <span class="todo-badge badge"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="todo-inbox" class="accordion todo-inbox">
        <div class="search">
          <div class="input-group">
            <span class="input-group-text" id="clear-search" style="cursor: pointer; display: none;">
              <i class="fa fa-times"></i>
            </span>
            <input type="text" class="form-control input-search" placeholder="Search Here...">
          </div>
        </div>
        <div class="todo-box">
          <div id="ct" class="todo-box-scroll">
          </div>
          <div class="modal fade" id="todoShowListItem" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="compose-box">
                    <div class="compose-content">
                      <h5 class="task-heading"></h5>
                      <p class="task-text"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="compose-box">
          <div class="compose-content" id="addTaskModalTitle">
            <h5 class="">Add to-do</h5>
            <form>
              <input id="task" type="text" placeholder="To-do Title" class="form-control" name="task" required minlength="3" maxlength="100" pattern="[A-Za-z0-9\s\-_\.]+" title="Please enter only letters, numbers, spaces, dashes, underscores, or dots.">
              <div class="mt-2">
                <label for="scanHistoryIDropdown" class="form-label">Select Scan History (Optional)</label>
                <select class="w-100 form-control" id="scanHistoryIDropdown" data-toggle="select2" data-width="100%">
                  <option>Choose Scan History...</option>
                </select>
              </div>

              <div class="mt-2">
                <label for="subdomainDropdown" class="form-label">Select Subdomain (Optional)</label>
                <span id="selectedSubdomainCount"></span>
                <select class="w-100 form-control" id="subdomainDropdown" data-toggle="select2" data-width="100%">
                  <option>Choose Subdomain...</option>
                </select>
              </div>

              <div class="mt-2">
                <label for="taskdescription" class="form-label">Description (Optional)</label>
                <textarea class="form-control" id="taskdescription" rows="5" spellcheck="false" placeholder="Recon To-do/Note" maxlength="500" pattern="[A-Za-z0-9\s\.,!?\\-\\_\\\.]+" title="Only alphanumeric characters and punctuation are allowed."></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn add-tsk">Add to-do</button>
        <button class="btn edit-tsk">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="todo-template" style="display: none;">
  <div class="todo-item-template">
    <div class="todo-item-content {is_done}">
      <div class="todo-item-inner">
        <div class="todo-content">
          <h5 class="todo-heading">{title}</h5>
          <p class="target">{target_text}</p>
          <p class="todo-text">{description}</p>
        </div>
        <div class="priority-dropdown custom-dropdown-icon" id="important-badge-{task_id}" style="display: flex; align-items: center; {% if not is_important %} display: none; {% endif %}">
          <div class="dropdown p-dropdown">
            <span class="text-danger bs-tooltip" title="Important to-do">
              <i class="fa fa-exclamation-circle"></i>
            </span>
          </div>
        </div>
        <div class="actions-btn" style="display: flex; align-items: center;">
          <button class="btn btn-success done-btn" id="done_{task_id}" title="Done">
            <i class="fa fa-check-circle"></i>
          </button>
          <button class="btn btn-secondary important-btn" id="importantdropdown_{task_id}" title="Toggle Important">
            <i class="fa fa-exclamation-circle"></i>
          </button>
          <button class="btn btn-danger delete-btn" id="deletedropdown_{task_id}" title="Delete">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}

{% block page_level_script %}
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'note/js/todo.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
$('#addTaskModal select').css('width', '100%');
$('#scanHistoryIDropdown').select2({
  dropdownParent: $('#addTaskModal')
});
$('#subdomainDropdown').select2({
  dropdownParent: $('#addTaskModal')
});
$('#scanHistoryIDropdown').on('change', function() {
  $('#subdomainDropdown').find('option:not(:first)').remove();
  subdomain_dropdown = document.getElementById('subdomainDropdown');
  $.getJSON(`/api/querySubdomains?project={{current_project.slug}}&scan_id=${this.value}&no_lookup_interesting&format=json`, function(data) {
    document.querySelector("#selectedSubdomainCount").innerHTML = data['subdomains'].length + ' Subdomains in selected history for domain ' + $("#scanHistoryIDropdown option:selected").text().split('-')[0];
    for (var subdomain in data['subdomains']){
      subdomain_obj = data['subdomains'][subdomain];
      var option = document.createElement('option');
      option.value = subdomain_obj['id'];
      option.innerHTML = subdomain_obj['name'];
      subdomain_dropdown.appendChild(option);
    }
  });
});
$.getJSON(`/api/listTodoNotes?format=json&project={{current_project.slug}}`, function(data) {
  for (var note in data['notes']){
    var note_obj = data['notes'][note];
    var todo_item = document.createElement("div");
    todo_item.classList.add("todo-item");
    todo_item.classList.add("all-list");
    todo_item.classList.add("todo-item");
    var target_text = '';
    if (note_obj['domain_name']) {
      target_text += 'Domain: ' + note_obj['domain_name'] + ', Scanned ' + moment.utc(note_obj['scan_started_time']).fromNow();
    }
    if (note_obj['subdomain_name']) {
      target_text += '</br> Subdomain: ' + note_obj['subdomain_name'];
    }
    var is_important_badge = '';
    if (note_obj['is_important']) {
      is_important_badge = `<div class="priority-dropdown custom-dropdown-icon" id="important-badge-${note_obj['id']}">
          <div class="dropdown p-dropdown">
            <span class="text-danger bs-tooltip" title="Important to-do">
              <i class="fa fa-exclamation-circle"></i>
            </span>
          </div>
      </div>`;
    }
    var badges = is_important_badge;
    var html = `<div class="todo-item-inner">
    <div class="todo-content">
    <h5 class="todo-heading">${htmlEncode(note_obj['title'])}</h5>
    <p class="target">${target_text}</p>
    <p class="todo-text">${htmlEncode(note_obj['description'])}</p>
    </div>
    ${badges}
        <div class="actions-btn" style="display: flex; align-items: center;">
          <button class="btn btn-success done-btn" id="done_${note_obj['id']}" title="Done">
            <i class="fa fa-check-circle"></i>
          </button>
          <button class="btn btn-secondary important-btn" id="importantdropdown_${note_obj['id']}" title="Toggle Important">
            <i class="fa fa-exclamation-circle"></i>
          </button>
          <button class="btn btn-danger delete-btn" id="deletedropdown_${note_obj['id']}" title="Delete">
            <i class="fa fa-trash"></i>
          </button>
        </div>
    </div>`;
    todo_item.innerHTML = html;
    document.getElementById('ct').appendChild(todo_item);
    if (note_obj['is_done']) {
      todo_item.classList.add("todo-task-done");
    }
    if (note_obj['is_important']) {
      todo_item.classList.add("todo-task-important");
    }
  };
  populateTodo(project='{{current_project.slug}}');
  $('.bs-tooltip').tooltip();
  $('.modal-footer .btn-secondary').on('click', function() {
    $('#addTaskModal').modal('hide');
  });
});
</script>
{% endblock page_level_script %}
