{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Wordlist
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'wordlist_list' %}">Wordlist</a></li>
<li class="breadcrumb-item active">All Worldlists</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Wordlists
{% endblock page_title %}

{% block main_content %}
<p class="text-muted">Wordlists are available to Secator workflows on the worker at <code>/home/secator/.secator/wordlists/</code> (file name = short name + <code>.txt</code>).</p>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="p-2">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="btn btn-soft-primary float-end ms-1" href="{% url 'add_wordlist' %}" data-toggle="tooltip" data-placement="top" title="Add New Wordlist">Add New Wordlist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
			<div class="card-body">
        <table id="wordlist_table" class="table dt-responsive w-100">
        <thead>
          <tr>
            <th>Wordlist Name</th>
            <th>Shortname</th>
            <th>Wordlist Count</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for wordlist in wordlists.all %}
          <tr>
            <td>{{ wordlist.name }}</td>
            <td>{{ wordlist.short_name }}</td>
            <td>{{ wordlist.count }}</td>
            <td class="text-center">
              <div class="d-flex flex-wrap gap-1 justify-content-center mb-2">
                <a href="#" class="btn btn-sm btn-soft-danger btnDelWordlist" data-toggle="tooltip" data-placement="top" title="Delete Wordlist" onclick="delete_api({{ wordlist.id }}, '{{ wordlist.name }}', 'wordlist'); return false;"><i class="fe-trash-2"></i></a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'targetApp/js/custom_organization.js' %}"></script>
<script>
$(document).ready(function() {
  var wordlist_table = $('#wordlist_table').DataTable({
    "layout": window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH,
    "lengthMenu": [5, 10, 20, 50],
    "pageLength": 50,
    "initComplete": function(settings, json) {
      $('[data-toggle="tooltip"]').tooltip();
    }
  });
  multiCheck(wordlist_table);
});
</script>
{% endblock page_level_script %}
