{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Wordlist
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'wordlist_list' current_project.slug %}">Wordlist</a></li>
<li class="breadcrumb-item active">All Worldlists</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Wordlists
{% endblock page_title %}

{% block main_content %}
<p class="text-muted">Wordlists are available to Secator workflows on the worker at <code>/home/secator/.secator/wordlists/</code> (file name = short name + <code>.txt</code>).</p>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="p-2">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="btn btn-soft-primary float-end ms-1" href="{% url 'add_wordlist' current_project.slug %}" data-toggle="tooltip" data-placement="top" title="Add New Wordlist">Add New Wordlist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
			<div class="card-body">
        {% include 'base/_items/datatables_filters/dropdown_shell.html' with inner_template='base/_items/datatables_filters/filters_wordlist.html' id_prefix='wordlist' filtering_text_id='wordlistFilteringTextHidden' %}
        <div id="wordlistFilteringText" class="w-100 d-flex flex-wrap gap-1 mt-2"></div>
        <table id="wordlist_table" class="table dt-responsive w-100">
        <thead>
          <tr>
            <th>Wordlist Name</th>
            <th>Shortname</th>
            <th>Wordlist Count</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'targetApp/js/custom_organization.js' %}"></script>
{{ datatable_filter_select_to_param|json_script:"datatable-filter-params" }}
<script>
$(document).ready(function() {
  var wordlist_ajax_url = '{% url "api:listWordlists" %}';
  var wordlist_columns = [
    { data: 'name', name: 'name' },
    { data: 'short_name', name: 'short_name' },
    { data: 'count', name: 'count' },
    { data: 'action', name: 'action', orderable: false }
  ];
  var wordlistFilterParamsEl = document.getElementById('datatable-filter-params');
  var wordlistFilterSelectToParam = wordlistFilterParamsEl ? JSON.parse(wordlistFilterParamsEl.textContent) : {};
  var wordlist_table = window.initServerSideDataTable('#wordlist_table', window.getRengineDatatableConfig('#wordlist_table', {
    ajax: {
      url: wordlist_ajax_url,
      data: function(d) {
        if (window.buildDatatableFilterPayload) {
          var payload = window.buildDatatableFilterPayload(wordlistFilterSelectToParam);
          Object.keys(payload).forEach(function(key) {
            d[key] = payload[key];
          });
        }
      }
    },
    columns: wordlist_columns,
    order: window.getRengineDatatableOrderFromNames(wordlist_columns, [['name', 'asc']]),
    lengthMenu: [5, 10, 20, 50],
    columnDefs: [
      { targets: 'action:name', className: 'text-center', render: function(data) { return data || ''; } }
    ],
    initComplete: function() {
      if (typeof window.rengineSafeTooltipInit === 'function') window.rengineSafeTooltipInit($('[data-toggle="tooltip"]'));
      if (typeof multiCheck === 'function') multiCheck(wordlist_table);
    }
  }));

  if (window.attachDatatableFilters) {
    window.attachDatatableFilters(window.getRengineDatatableFilterAttachOpts('wordlist_list', wordlist_table, { onApply: function() { wordlist_table.draw(); } }));
  }
});
</script>
{% endblock page_level_script %}
