{% load permission_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="shortcut icon" href="/staticfiles/img/favicon.png">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="main-stylesheet" />
    <link href="{% static 'bootstrap/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap-dark-stylesheet" />
    <link href="{% static 'assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="main-dark-stylesheet" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/snackbar/snackbar.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/switches/switches.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'custom/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'custom/badges.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/datatables.min.css' %}">
    <style media="screen">
      @font-face {
        font-family: "Cerebri Sans,sans-serif";
        src: url("{% static 'fonts/cerebrisans-light.eot' %}");
        src: local("Cerebri-sans Light"), url("{% static 'fonts/cerebrisans-light.woff' %}") format("woff");
        font-weight: 300; }

      @font-face {
        font-family: "Cerebri Sans,sans-serif";
        src: url("{% static 'fonts/cerebrisans-regular.eot' %}");
        src: local("Cerebri-sans Regular"), url("{% static 'fonts/cerebrisans-regular.woff' %}") format("woff");
        font-weight: 400; }

      @font-face {
        font-family: "Cerebri Sans,sans-serif";
        src: url("{% static 'fonts/cerebrisans-medium.eot' %}");
        src: local("Cerebri-sans Medium"), url("{% static 'fonts/cerebrisans-medium.woff' %}") format("woff");
        font-weight: 500; }

      @font-face {
        font-family: "Cerebri Sans,sans-serif";
        src: url("{% static 'fonts/cerebrisans-semibold.eot' %}");
        src: local("Cerebri-sans Semibold"), url("{% static 'fonts/cerebrisans-semibold.woff' %}") format("woff");
        font-weight: 600; }

      @font-face {
        font-family: "Cerebri Sans,sans-serif";
        src: url("{% static 'fonts/cerebrisans-bold.eot' %}");
        src: local("Cerebri-sans Bold"), url("{% static 'fonts/cerebrisans-bold.woff' %}") format("woff");
        font-weight: 700; }
    </style>
    <!-- load any page wise jquery or stylesheet -->
    {% block custom_js_css_link %}
    {% endblock custom_js_css_link %}
  </head>

  <body class="loading" data-layout-mode="horizontal" data-project-slug="{{ current_project.slug|default:'' }}">
    <!-- Topbar begins -->
    {% include 'base/_items/top_bar.html' %}
    {# topbar ends #}
    <div id="wrapper"></div>
      {# top nav begins #}
      {% include 'base/_items/top_nav.html' %}
      {# top nav ends #}
      {% include 'base/_items/datatables_action_urls_script.html' %}
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="page-title-box">
                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      {% block breadcrumb_title %}
                      {% endblock breadcrumb_title %}
                    </ol>
                  </div>
                  <h4 class="page-title">{% block page_title %}{% endblock page_title %}</h4>
                </div>
              </div>
            </div>
            {% block main_content %}
            {% endblock main_content %}
          </div>
          <div id="additional-content"></div>
        </div>
        {% include 'base/_items/modal.html' %}
        {% include 'base/_items/xl_scrollable_modal.html' %}
        {% include 'base/_items/offcanvas.html' %}
      </div>
      <div class="rightbar-overlay" aria-hidden="true"></div>
      {% include 'base/_items/right_bar.html' %}
      {% include 'base/_items/footer.html' %}
    <script>
      (function(){ try { window.sessionStorage.setItem('_UBOLD_VISITED_', '1'); } catch (e) {} })();
    </script>
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'plugins/popperjs/popper.min.js' %}"></script>
    <script src="{% static 'plugins/tippyjs/tippy.min.js' %}"></script>
    <script src="{% static 'plugins/dompurify/purify.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'custom/modal_manager.js' %}"></script>
    <script src="{% static 'custom/custom.js' %}"></script>
    <script src="{% static 'custom/scan_params.js' %}"></script>
    <script src="{% static 'custom/toolbox.js' %}"></script>
    {{ RENGINE_SCAN_STATUS|json_script:"rengine-scan-status" }}
    <script src="{% static 'custom/command_log_helpers.js' %}"></script>
    <script src="{% static 'custom/scan_status_websocket.js' %}"></script>
    <script src="{% static 'custom/right_sidebar.js' %}"></script>
    <script src="{% static 'custom/screenshot-display.js' %}"></script>
    <script src="{% static 'custom/port_display.js' %}"></script>
    <script src="{% static 'plugins/snackbar/snackbar.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
    {{ datatables_page_length_menu_values|json_script:"rengine-datatable-length-menu" }}
    <script type="text/javascript">
      window.RENGINE_DATATABLE_USE_SCROLLER = {{ use_datatables_scroller|yesno:"true,false" }};
      window.RENGINE_DATATABLE_PAGE_LENGTH = {{ datatables_page_length|default:30 }};
      (function(){
        var el = document.getElementById('rengine-datatable-length-menu');
        window.RENGINE_DATATABLE_LENGTH_MENU_VALUES = el ? JSON.parse(el.textContent) : {{ datatables_page_length_menu_values }};
      })();
      window.RENGINE_DATATABLE_LAYOUT_FULL_CLASSIC = {
        topStart: 'pageLength',
        topEnd: ['info', 'paging'],
        bottomStart: 'pageLength',
        bottomEnd: ['info', 'paging']
      };
      window.RENGINE_DATATABLE_LAYOUT_FULL_SCROLLER = {
        topStart: 'pageLength',
        topEnd: 'paging',
        bottomStart: 'pageLength',
        bottomEnd: 'paging'
      };
      window.RENGINE_DATATABLE_LAYOUT_FULL = window.RENGINE_DATATABLE_USE_SCROLLER
        ? window.RENGINE_DATATABLE_LAYOUT_FULL_SCROLLER
        : window.RENGINE_DATATABLE_LAYOUT_FULL_CLASSIC;
      window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH_CLASSIC = {
        topStart: 'search',
        topEnd: 'pageLength',
        bottomStart: 'info',
        bottomEnd: 'paging'
      };
      window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH_SCROLLER = {
        topStart: 'search',
        topEnd: 'pageLength',
        bottomStart: 'pageLength',
        bottomEnd: 'paging'
      };
      window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH = window.RENGINE_DATATABLE_USE_SCROLLER
        ? window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH_SCROLLER
        : window.RENGINE_DATATABLE_LAYOUT_WITH_SEARCH_CLASSIC;
      if (typeof $.fn.DataTable !== "undefined") {
        $.fn.DataTable.defaults.language = {
          paginate: { previous: "←", next: "→" },
          info: "Showing page _PAGE_ of _PAGES_",
          search: "",
          searchPlaceholder: "Search...",
          lengthMenu: "Results :  _MENU_"
        };
      }
      $(document).ready(function(){
        // for tabs with urls, we need to append the hash in the url
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
          var href = $(e.target).attr('href');
          if (href && href.startsWith('#')) {
            history.pushState(null, null, href);
          }
        });
        $(window).on('hashchange', handleHashInUrl);
        render_search_history('{{current_project.slug}}');

        // reNgine-ng will also check everyday if update exists for reNgine-ng
        checkForUpdates(false);

        // Set API URLs for scan status functions
        window.scanStatusApiUrls = {
          scanStatusUrl: '{% url "api:scan_status" %}',
          stopScanUrl: '{% url "api:stop_scan" %}',
          stopActivityUrl: '{% url "api:stop_activity" %}',
          fetchSubscanUrl: '{% url "api:fetch_subscan_results" %}'
        };

        window.RENGINE_API_URLS = window.RENGINE_API_URLS || {};
        Object.assign(window.RENGINE_API_URLS, {
          vulnerabilityReport: '{% url "api:vulnerability_report" %}',
          getFileContents: '{% url "api:getFileContents" %}',
          querySubdomains: '{% url "api:querySubdomains" %}',
          queryInterestingSubdomains: '{% url "api:queryInterestingSubdomains" %}',
          queryEndpoints: '{% url "api:queryEndpoints" %}',
          queryDorks: '{% url "api:queryDorks" %}',
          interestingEndpointsList: '{% url "api:interesting-endpoints-list" %}',
          listTodoNotes: '{% url "api:listTodoNotes" %}',
          listSubScans: '{% url "api:listSubScans" %}',
          listTechnologies: '{% url "api:listTechnologies" %}',
          fetchScreenshots: '{% url "api:fetchScreenshots" %}',
          uncommonWebPorts: '{% url "api:uncommonWebPorts" %}',
          toolOllama: '{% url "api:ollama_manager" %}'
        });

        getScanStatusSidebar('{% url "api:scan_status" %}', '{% url "api:stop_scan" %}', '{% url "api:stop_activity" %}', '{% url "api:fetch_subscan_results" %}', { project: '{{ current_project.slug }}', reload: false });
        
        // Connect to WebSocket for real-time right sidebar updates
        if (typeof connectScanStatusWebSocket === 'function') {
          connectScanStatusWebSocket(null, '{{current_project.slug}}', {
            updateSidebar: true,
            scanStatusUrl: '{% url "api:scan_status" %}',
            stopScanUrl: '{% url "api:stop_scan" %}',
            stopActivityUrl: '{% url "api:stop_activity" %}',
            fetchSubscanUrl: '{% url "api:fetch_subscan_results" %}'
          });
        }
        if (localStorage.getItem('rengine-theme') == "dark") {
          $('#dark-mode-check').prop("checked", true).change();
        }
        else{
          $('#dark-mode-check').prop("checked", false).change();
        }
        handleHashInUrl();
      });

      function render_search_history(slug){
        fetch('/api/search/history/')
        .then(response => response.json())
        .then(function (response) {
          if (response.status) {
            for (var history in response.results) {
              $('#search-history-items').append(`
                <a href="{% url 'search' %}?query=${response.results[history].query}" class="dropdown-item notify-item">
                  <span>${response.results[history].query}</span>
                </a>
              `);
            }
          }
          else{
            $('#search-history-items').append(`
              <span class="ms-2">No recent searches.</span>
            `);
          }
        });
      }

      // main function to check for updates
      function checkForUpdates(showUI = false) {
        const updateAvailable = window.localStorage.getItem('update_available') === 'true';
        
        // Hide the default badge
        $('.rengine_update_available').hide();
        
        if (updateAvailable) {
          // if an update was marked as available, check if it's still the case
          checkUpdateFromAPI(showUI);
        } else if (hasOneDayPassed()) {
          // no update known, check once per day
          checkUpdateFromAPI(showUI);
        } else if (showUI) {
          // if we force the check via the menu
          checkUpdateFromAPI(true);
        }
      }

      function checkUpdateFromAPI(showLoadingScreen) {
        if (showLoadingScreen) {
          Swal.fire({
            title: 'Checking reNgine-ng latest version...',
            allowOutsideClick: false
          });
          swal.showLoading();
        }
        
        fetch('/api/rengine/update/')
          .then(response => response.json())
          .then(function (response) {
            if (showLoadingScreen) {
              swal.close();
            }
            
            if (response['description'] == 'RateLimited') {
              if (showLoadingScreen) {
                Swal.fire({
                  title: 'Oops!',
                  text: 'Github rate limit exceeded, please try again in an hour!',
                  icon: 'error'
                });
              }
              window.localStorage.setItem('update_available', false);
              $('.rengine_update_available').hide();
            }
            else if (response['update_available']) {
              window.localStorage.setItem('update_available', true);
              window.localStorage.setItem('latest_version', response['latest_version']);
              window.localStorage.setItem('changelog', response['changelog']);
              $('.rengine_update_available').show();
              if (showLoadingScreen) {
                showUpdateAvailable(response['latest_version'], response['changelog']);
              }
            }
            else {
              if (showLoadingScreen) {
                Swal.fire({
                  title: 'Update not available',
                  text: 'You are running the latest version of reNgine-ng!',
                  icon: 'info'
                });
              }
              window.localStorage.setItem('update_available', false);
              window.localStorage.removeItem('latest_version');
              window.localStorage.removeItem('changelog');
              $('.rengine_update_available').hide();
            }
          });
      }

      function showUpdateAvailable(latest_version_number, changelog) {
        Swal.fire({
          title: 'Update Available!',
          html: `<h5>reNgine-ng's new update ${latest_version_number} is available, please follow the update instructions.</h5><pre>${changelog}</pre>`,
          icon: 'info',
          confirmButtonText: 'Update Instructions',
          showCancelButton: true,
          cancelButtonText: 'Dismiss',
          width: '60%',
        }).then((result) => {
          if (result.isConfirmed) {
            window.open("https://github.com/Security-Tools-Alliance/rengine-ng/wiki/Installation#-updating-rengine-ng","_blank")
          }
        });
      }

      function hasOneDayPassed() {
        const date = new Date().toLocaleDateString();
        const lastChecked = window.localStorage.getItem('last_update_checked');
        
        if (lastChecked === date) {
          return false;
        }
        
        window.localStorage.setItem('last_update_checked', date);
        return true;
      }

      // tippy for notification or scan activity
      tippy('.top-activity-counter', {
        content: 'Scan Activity',
      });
    </script>
    {% comment %}
    DataTables helper stack: load order must be preserved (see web/static/custom/datatables/README.md).
    Order: escape → layout → cookies → columns → rowgroup → filters → config → actions → init → tooltips → column_definitions.
    {% endcomment %}
    <script src="{% static 'custom/datatables/escape.js' %}"></script>
    <script src="{% static 'custom/datatables/layout.js' %}"></script>
    <script src="{% static 'custom/datatables/cookies.js' %}"></script>
    <script src="{% static 'custom/datatables/columns.js' %}"></script>
    <script src="{% static 'custom/datatables/rowgroup.js' %}"></script>
    <script src="{% static 'custom/datatables/filters.js' %}"></script>
    <script src="{% static 'custom/datatables/config.js' %}"></script>
    <script src="{% static 'custom/datatables/filter_ids.js' %}"></script>
    <script src="{% static 'custom/datatables/page_wiring.js' %}"></script>
    <script src="{% static 'custom/datatables/actions.js' %}"></script>
    <script src="{% static 'custom/datatables/init.js' %}"></script>
    <script src="{% static 'custom/datatables/tooltips.js' %}"></script>
    <script src="{% static 'custom/datatables/column_definitions.js' %}"></script>
    {% if messages %}
      {% for message in messages %}
        <script type="text/javascript">
          Snackbar.show({
            text: '{{ message }}',
            pos: 'top-right',
            {% if message.tags == 'error'%}
              actionTextColor: '#fff',
              backgroundColor: '#e7515a',
            {% else %}
            actionTextColor: '#42A5F5',
            {% endif %}
            duration: 2500
          });
        </script>
      {% endfor %}
    {% endif %}
    {% block page_level_script %}
    {% endblock page_level_script%}
  </body>
</html>
